html,body{
    height:100%;
    margin: 0;
    padding: 0;
}
#hojavida{
    height: 100%;
    width: 100%;
}

.titulo1{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: rgb(0, 65, 0);
    position: fixed;
    left: 8px;
    text-align: center;
    text-shadow: 0 0 0.2em green;
    top: 260px;
}